
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musteriler</title>
</head>
<body>
    <a href="/Default/Index">Index Sayfasına Git</a>
    <a href="/Default/Urunler">Ürünler Sayfasına Git</a>
    <h1>@ViewBag.c</h1>
</body>
</html>
